<section class="Experience">
  <h2 class="Experience_header">Experiences</h2>
  <ul class="Experience">
    <li class="grid grid--special-1x2 grid--center">
      <div>
        <h3>Middle School: Lida</h3>
        <h4 class="Experience_time">Time</h4>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio illum
        dignissimos alias, exercitationem fuga ipsa provident in consequatur eum
        quibusdam?
      </p>
    </li>
    <li class="grid grid--special-1x2 grid--center">
      <div>
        <h3>Highschool: Corpus Christi & Oakville Trafalgar</h3>
        <h4 class="Experience_time">Time</h4>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio illum
        dignissimos alias, exercitationem fuga ipsa provident in consequatur eum
        quibusdam?
      </p>
    </li>
    <li class="grid grid--special-1x2 grid--center">
      <div>
        <h3>Post-Secondary: University of Waterloo CS</h3>
        <h4 class="Experience_time">Time</h4>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio illum
        dignissimos alias, exercitationem fuga ipsa provident in consequatur eum
        quibusdam?
      </p>
    </li>
  </ul>
</section>
