<section id="Education">
  <h2 class="Education_header">Educations</h2>
  <ul class="Education">
    <li class="grid grid--special-1x2 grid--center">
      <div>
        <h3>Middle School: Lida</h3>
        <h4 class="Education_time">2014.9-2017.9</h4>
      </div>
      <p>
        The prestigious Lida Middle School is situated in the heart of the
        Suzhou, a prosperous hub city right beside Shanghai. I studied in Lida
        for three years, before graduating as one of the best and coming over to
        Canada. I developed a solid foundation of Math and Science, represented
        my school in a global speech competition in Singapore, led my Jazz band
        to a number of concerts and made meaningful connections who I shall call
        friends for the rest of my life.
      </p>
    </li>
    <li class="grid grid--special-1x2 grid--center">
      <div>
        <h3>Highschool: Corpus Christi & Oakville Trafalgar</h3>
        <h4 class="Education_time">CC: 2017.9-2018.9<br />OT: 2018.9-2020.9</h4>
      </div>
      <p>
        I spent my grade 10 year in Corpus Christi Catholic Secondary School in
        Burlington, ON, during which I seamlessly blended into the Canadian
        culture and gained a global perspective. I then moved to Oakville, ON
        and completed my high school diploma in Oakville Trafalgar High School,
        with the honor of having the highest average in school and contributing
        positively in the community by attending events such as Relay for Life
        and winning distinction awards for Math and CS competitions.
      </p>
    </li>
    <li class="grid grid--special-1x2 grid--center">
      <div>
        <h3>Post-Secondary: University of Waterloo CS</h3>
        <h4 class="Education_time">2020.9-2025.5</h4>
      </div>
      <p>
        I am currently a first-year student at the computer science program at
        the University of Waterloo. I am thrilled to have the precious
        opportunity to further my career in a field that I am truly passionate
        about. Besides excelling at school as usual, I love to experiment with
        different aspects of computer science on my own, and have made a number
        of projects in Web development, Game development etc. I also feel
        privileged to still be able to connect with friends I made in middle
        school, high school and SHAD.
      </p>
    </li>
  </ul>
</section>
