<article class="card">
  <img
    src="Images/Fortress-in-the-Sky-IMG.jpg"
    alt="Fortress in the Sky Cover"
    class="card_img"
  />
  <h3 class="card_title">Fortress in the Sky</h3>
  <p class="card_text">
    A 2D platformer where you follow the legend to find the mysterious celestial
    civilization! Submission for DevSquad Academy Jam 2020.
  </p>
  <div class="grid grid--1x2--project grid--gap card_btns">
    <form
      class="card_github-form"
      action="https://github.com/SnailKnightHH/ConnectedWorlds"
    >
      <button class="btn btn--primary card_button">
        <span class="card_icon">
          <i class="fab fa-github"></i>
        </span>
      </button>
    </form>
    <form
      class="card_video-form"
      action="https://github.com/SnailKnightHH/ConnectedWorlds"
    >
      <button class="btn btn--primary card_button">
        <span class="card_icon">
          <i class="fas fa-play-circle"></i>
        </span>
      </button>
    </form>
  </div>
</article>
